

<% provide( :title, "Dashboard") %>


      <div class="col_3">
      <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-gift user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@user_donations_count%></strong></h5>
                      <span>Donations made</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>&#8358;<%=@last_donation_amount%></strong></h5>
                      <span>Last Donation</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-laptop user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_type%></strong></h5>
                      <span>Last Donation Line</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-money user2 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_date%></strong></h5>
                      <span>Last Donation Date</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-adjust icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_time%></strong></h5>
                      <span>Last Donation Time</span>
                    </div>
                </div>
           </div>
          <div class="col-md-3 widget">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-users icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_due %></strong></h5>
                      <span>Donation due date</span>
                    </div>
                </div>
           </div>

           <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-edit user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_rem%></strong></h5>
                      <span>Days to due date</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>&#8358;<%=@amount%></strong></h5>
                      <span>Total donations</span>
                    </div>
                </div>
          </div>

               <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-group icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=current_user.referrals.count%></strong></h5>
                      <span>1st Generation referals</span>
                    </div>
                </div>
           </div>
          
          <div class="clearfix"> </div>
    </div>
    <br/>
   <div class="clearfix"> </div>

   <div class="charts">
  
          <div class="col-md-4 charts-grids widget states-mdl">
            <div class="card-header">
              <h3>Share your referral link</h3>
            </div>

      <i class="green"><p id="bar" style="color:green;"><%=current_user.url%></p></i>

<!-- Target -->

<!-- Trigger -->
<button class="btn" data-clipboard-target="#bar">
    Copy Url
</button>

      <br/>
      <br/>
    <span class="count_bottom"><%= social_share_button_tag("Join the OneMilMap", :url => current_user.url, desc: "Join the OneMilMap movement today!")%></span>



          </div>
      
          <div class="clearfix"> </div>
        </div>





   <div class="charts">
          
          
          <div class="charts-grids widget states-mdl">
            <div class="card-header">
              <h3>Donations Visualisation</h3>
            </div>
            <div id="chartContainer" class="demo-placeholder"><%= @chart.render() %></div>
   </div>
          </div>
      
          <div class="clearfix"> </div>
        </div>







<br/>

<br/>

<br/>


             
<%if @donations.any?%>

<%else%>
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<script type="text/javascript"> 
    //Call the method on pageload
    $(window).load(function(){
      //Disply the modal popup
        $('#myModal').modal('show');
    });
  </script>
<%end%>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h1 class="modal-title" id="myModalLabel">Make your first Donation</h1>
                                        </div>
                                        <div class="modal-body">
                                    <%= form_for([@donation]) do |form| %>
  
<% if @donation.errors.any? %>
  <div class="row">
  <div class="col-md-9 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>New Donation <small>making a new donation</small></h2>
        <ul class="nav navbar-right panel_toolbox">          
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left input_mask">
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being made:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="row">
  <div class="col-md-9 col-xs-12">

        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form class="form-horizontal form-label-left input_mask">
<div class="col-md-6 col-sm-12  form-group has-feedback">
            
<h3><i class="fa fa-gift"></i>Select Amount</h3>
   
    
      <h2><%= form.radio_button :amount, 2000, required:"required",  class:"form-control has-feedback-left" %>2,000</h2>
    <h2><%= form.radio_button :amount, 5000, required:"required",  class:"form-control has-feedback-left" %> 5,000</h2>
   <h2> <%= form.radio_button :amount, 10000, required:"required",  class:"form-control has-feedback-left" %>10,000</h2>
    <h2> <%= form.radio_button :amount, 20000, required:"required",  class:"form-control has-feedback-left"%> 20,000</h2>

    <h2><%= form.radio_button :amount, 30000, required:"required",  class:"form-control has-feedback-left" %>30,000</h2>
    <h2><%= form.radio_button :amount, 50000, required:"required",  class:"form-control has-feedback-left" %> 50,000</h2>
   <h2> <%= form.radio_button :amount, 100000, required:"required",  class:"form-control has-feedback-left" %>100,000</h2>
    <h2> <%= form.radio_button :amount, 200000, required:"required",  class:"form-control has-feedback-left"%> 200,000</h2>

     <h2><%= form.radio_button :amount, 300000, required:"required",  class:"form-control has-feedback-left" %>300,000</h2>
    <h2><%= form.radio_button :amount, 500000, required:"required",  class:"form-control has-feedback-left" %> 500,000</h2>
   <h2> <%= form.radio_button :amount, 1000000, required:"required",  class:"form-control has-feedback-left" %>1000,000</h2>
    <h2> <%= form.radio_button :amount, 2000000, required:"required",  class:"form-control has-feedback-left"%> 2000,000</h2>

          </div>


          <div class="col-md-6 col-sm-12  form-group has-feedback">
            
<h3><i class="fa fa-sitemap"></i>Select Donation Duration</h3>
   
      <h2><%= form.radio_button :line, 0, required:"required",  class:"form-control has-feedback-left" %> Monthly</h2>
    <h2><%= form.radio_button :line, 1, required:"required",  class:"form-control has-feedback-left" %> Quarterly</h2>
    <h2><%= form.radio_button :line, 2, required:"required",  class:"form-control has-feedback-left" %>Yearly </h2>
      
          </div>
         


                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <%= form.submit "Submit", class:"btn btn-success"%>
                                            <% end %>
</div>
</div>
</form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>

<% content_for(:third_party_js) do %>
  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
<% end %>   
<script>
    var clipboard = new Clipboard('.btn');
</script>