

<% provide( :title, "Dashboard") %>


      <div class="col_3">
      <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-gift user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@user_donations_count%></strong></h5>
                      <span>Donations made</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>&#8358;<%=@last_donation_amount%></strong></h5>
                      <span>Last Donation</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-laptop user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_type%></strong></h5>
                      <span>Last Donation Line</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-money user2 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_date%></strong></h5>
                      <span>Last Donation Date</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-adjust icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_time%></strong></h5>
                      <span>Last Donation Time</span>
                    </div>
                </div>
           </div>
          <div class="col-md-3 widget">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-users icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_due %></strong></h5>
                      <span>Donation due date</span>
                    </div>
                </div>
           </div>

           <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-edit user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@last_donation_rem%></strong></h5>
                      <span>Days to due date</span>
                    </div>
                </div>
          </div>
          <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>&#8358;<%=@amount%></strong></h5>
                      <span>Total donations</span>
                    </div>
                </div>
          </div>

               <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-group icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=current_user.referrals.count%></strong></h5>
                      <span>1st Generation referals</span>
                    </div>
                </div>
           </div>

             <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-group icon-rounded"></i>
                    <div class="stats">
                      <h5><strong><%=@sponsorships.count%></strong></h5>
                      <span>Sponsorships you created</span>
                    </div>
                </div>
           </div>

            <div class="col-md-3 widget widget1">
            <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar user1 icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>&#8358;<%=@samount%></strong></h5>
                      <span>Total sponsorships</span>
                    </div>
                </div>
          </div>
          
          
          <div class="clearfix"> </div>
    </div>
    <br/>
   <div class="clearfix"> </div>

   <div class="charts">
  
          <div class="col-md-9 charts-grids widget states-mdl">
            <div class="card-header">
              <h3>Share your referral link</h3>
            </div>

      <i class="green"><p id="bar" style="color:green;"><%=current_user.url%></p></i>

<!-- Target -->

<!-- Trigger -->
<button class="btn" data-clipboard-target="#bar">
    Copy Url
</button>

      <br/>
      <br/>
    <span class="count_bottom"><%= social_share_button_tag("Join the OneMilMap", :url => current_user.url, desc: "Join the OneMilMap movement today!")%></span>



          </div>
      
          <div class="clearfix"> </div>
        </div>


    <div class="charts">
          
          
          <div class="charts-grids widget states-mdl">
            <div class="card-header">
              <h3>Your Interest Line</h3>
            </div>
            <br/>
            <div class="demo-placeholder">
            <%if current_user.interest_line%>

                <h3 onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" class ="lead">
        <i style="font-size:27px"class="fa fa-star"> <a onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" href=""><%=current_user.interest_line.name%></a></i></h3>
            <%else%>

                <h5 style="color:orange;">You have not selected an interest line yet!</h5>

                 <h3 onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" class ="lead">
        <i style="font-size:27px"class="fa fa-star"> <a onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" href="/interest_lines">Select Interest Line</a></i></h3>

            <%end%>

            </div>
   </div>
          </div>
      
          <div class="clearfix"> </div>
        </div>


   <div class="charts">
          
          
          <div class="charts-grids widget states-mdl">
            <div class="card-header">
              <h3>Donations Visualisation</h3>
            </div>
            <div id="chartContainer" class="demo-placeholder"><%= @chart.render() %></div>
   </div>
          </div>
      
          <div class="clearfix"> </div>
        </div>







<br/>

<br/>

<br/>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>

<% content_for(:third_party_js) do %>
  <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
<% end %>   
<script>
    var clipboard = new Clipboard('.btn');
</script>