<div class="sign-up-row widget-shadow">
<%= form_for(@user, html: { multipart: true }) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form>

<div class="sign-u">
            
        <%= form.text_field :first_name, required:"required", placeholder:"First Name" %>
            <div class="clearfix"> </div>
          </div>

   <div class="sign-u">
            
        <%= form.text_field :last_name, id: :user_name, required:"required", placeholder:"Last Name" %>
            <div class="clearfix"> </div>
          </div>
         <div class="sign-u">

    <%= form.email_field :email, autofocus: true, autocomplete: "email",  placeholder:"Email", required:"required"%>
    <div class="clearfix"> </div>
          </div>
<div class="sign-u">
            
              <%= form.text_field :phone, id: :user_phone, placeholder:"Phone", required:"required" %>
<div class="clearfix"> </div>
          </div>
 <div class="sign-u">
    
    <%= form.password_field :password, autocomplete: "off", placeholder:"Password", required:"required"%>
    <div class="clearfix"> </div>
          </div>
 <div class="sign-u">
            
              <%= form.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirm Password", required:"required" %>
<div class="clearfix"> </div>
          </div>
<div class="sign-u">
  <div class="sign-up1">
            <%= form.label :gender%>
            </div>
            <div class="sign-up2">
            <%= form.select :gender, ["Male","Female"], placeholder:"Title", required:"required"%>
            
            </div>
         <div class="clearfix"> </div>
          </div>


<div class="sign-u">
            
    
    <%= form.text_field :address, id: :user_address, placeholder:"Address", required:"required"%>
    <div class="clearfix"> </div>
          </div>
  <div class="sign-u">
            <div class="sign-up1">
    <%= form.label :state, "State" %>
    </div>
   
<div class="sign-u">
 <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          <div class="profile-userpic">
           <div class="sign-up1">
   <%= form.label :image, "Profile Pic" %>
 </div>
 <span class="prfil-img">
   <%= image_tag @user.image_url,  width: 60, height: 50  if @user.image? %>
   <span class="prfil-img">
   <div class="sign-up2">
    <%= form.file_field :image, autofocus: true %>
   <%= form.hidden_field :image_cache %>
  
  
      <%= form.check_box :remove_image %>
      Remove Profile Pic
    
  </div>
  </div>

          </div>
          <div class="clearfix"> </div>
          </div>

          
          <div class="sub_home">
               <%= form.submit "Sign up", class:"btn btn-success",style:"color:#fff; font-weight:bold;"%>
       <div class="clearfix"> </div>
          </div>


<% end %>
<br>
<br>
<br>


<%=link_to "already have an account sign in", new_session_path(User), class:"btn btn-info",style:"color:#fff; font-weight:bold;"%>

       
            </div>
          </div>

        </form>
      </div>
    </div>

