<%= form_with(model: council_ward, local: true) do |form| %>
  <% if council_ward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(council_ward.errors.count, "error") %> prohibited this council_ward from being saved:</h2>

      <ul>
      <% council_ward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="row">
  <div class="col-md-12 col-xs-6">
    
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
 <div class="form-body">
              <form> 

            
             <div class="field">
    
    <%= form.text_field :title, id: :council_ward_title,  class:"form-control has-feedback-left", placeholder:"Name", type:"text", required:"required" %>
  </div>
    

          </div>
 <div class="col-md-6">
   <div class="form-group">
     <%= form.label :lga, "Select L.G.A" %>
     <%= form.select :lga, ["Ado","Agatu","Apa","Buruku","Gboko","Guma","Giver West","Katsina-Ala","Konshisha","Kwande", "Logo","Makurdi","Obi","Ogbadibo","Oju","Okpokwu","Ohimini","Otukpo","Tarka","Ukum","Ushongo","Vandeikya"], placeholder:"Title", class:"form-control", required:"required"%>
  </div>


          </div>
        

          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
               <%= form.submit "Submit", class:"btn btn-info"%>  
</div>
</div>
</form>

<% end %>
