

<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>


<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <span style="color:#fff;"><h3>Forgot your password ? </h3><%= link_to "Click here...", new_password_path(resource_name),style:"color:#f47721; font-weight:bold;" %></span><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>


<div class="signin-container">
  <h2 style="color:#fff;">Sign in with</h2>

  <%- if devise_mapping.omniauthable? %>
    <ul class="image-list signin-icons">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <span><%= link_to omniauth_authorize_path(resource_name, provider), :title => "Sign in with #{provider.to_s.titleize}" do %>
          <%= image_tag "oauth_#{provider}.png", width: 50, height: 50, :alt => "Sign in with #{provider.to_s.titleize}" %><% end -%>
        </span>
      <% end %>
    </ul>
  <% end -%>
</div>