<p id="notice"><%= notice %></p>

<p>
  <strong>Fundraiser:</strong>
  <%= @conversation.fundraiser %>
</p>

<p>
  <strong>Body:</strong>
  <%= @conversation.body %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
