
<%= form_for(@quick_donation) do |f| %>
 <div class="form-body">
              <form> 

  <div class="form-inputs">
  <div class="sign-u">
  <%= f.label :tel, "Phone Number" %>
    <%= f.text_field :tel, type:"number", required:"required", class:"form-control" %>
 <div class="clearfix"> </div>
          </div>
         <div class="sign-u">

    <%= f.label :name, "Full Name" %>
    <%= f.text_field :name, type:"text", required:"required"%>
 <div class="clearfix"> </div>
          </div>
         <div class="sign-u">

    <%= f.label :email %>

    <%= f.email_field :email, type:"email", required:"required" %>
               <div class="clearfix"> </div>
          </div>
         
<h2><i class="fa fa-gift"></i>Select Amount</h2>
   
      <h5><%= f.radio_button :amount, 2000, required:"required",  class:"form-control has-feedback-left" %>2,000</h5>
    <h5><%= f.radio_button :amount, 5000, required:"required",  class:"form-control has-feedback-left" %> 5,000</h5>
   <h5> <%= f.radio_button :amount, 10000, required:"required",  class:"form-control has-feedback-left" %>10,000</h5>
    <h5> <%= f.radio_button :amount, 20000, required:"required",  class:"form-control has-feedback-left"%> 20,000</h5>

    <h5><%= f.radio_button :amount, 30000, required:"required",  class:"form-control has-feedback-left" %>30,000</h5>
    <h5><%= f.radio_button :amount, 50000, required:"required",  class:"form-control has-feedback-left" %> 50,000</h5>
   <h5> <%= f.radio_button :amount, 100000, required:"required",  class:"form-control has-feedback-left" %>100,000</h5>
    <h5> <%= f.radio_button :amount, 200000, required:"required",  class:"form-control has-feedback-left"%> 200,000</h5>

     <h5><%= f.radio_button :amount, 300000, required:"required",  class:"form-control has-feedback-left" %>300,000</h5>
    <h5><%= f.radio_button :amount, 500000, required:"required",  class:"form-control has-feedback-left" %> 500,000</h5>
   <h5> <%= f.radio_button :amount, 1000000, required:"required",  class:"form-control has-feedback-left" %>1000,000</h5>
    <h5> <%= f.radio_button :amount, 2000000, required:"required",  class:"form-control has-feedback-left"%> 2000,000</h5>

          </div>

  </div>

            <div class="sub_home">
               <%= f.submit "Donate", class:"btn btn-info"%>
       <div class="clearfix"> </div>
          </div>

  </form>

<% end %>
</div>