<% provide( :title, "Quick Donation") %>
    <h2 class="title1">   Donation made by <%=@quick_donation.name %></h2>
          <div class="form-grids row widget-shadow" data-example-id="basic-forms"> 
            <div class="form-title">
              <h4>OneMilMap Support</h4>
            </div>
 
</div>
   
<div class="col-md-12 panel-grids">
            <div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title"> Donation Info</h3> </div> <div class="panel-body">
        <br />
                   <div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
        <table class="table">

        <tbody>
      <tr>
<td>
  <strong>Channel:</strong>
  <%= @quick_donation.channel %>
</td>
</tr>

      <tr>
<td>
  <strong>Transaction Refrence:</strong>
  <%= @quick_donation.reference %>
</td>
</tr>
      <tr>
<td>
  <strong>Gateway Response:</strong>
  <%= @quick_donation.gateway_response %>
</td>
</tr>
      <tr>
<td>
  <strong>Currency:</strong>
  <%= @quick_donation.currency %>
</td>
</tr>
      <tr>
<td>
  <strong>Status:</strong>
  <%= @quick_donation.status %>
</td>
</tr>
   

<tr>
 <td>
  <strong>Tel:</strong>
  <%= @quick_donation.tel %>
</td>
</tr>

<tr>
 <td>
  <strong>Email:</strong>
  <%= @quick_donation.email %>
</td>
</tr>

<tr>
<td>
  <strong>Amount:</strong>
  <%= @quick_donation.amount %>
</td></tr>

<tr>
<td>
  <strong>Donator:</strong>
  <%= @quick_donation.name %>
</td></tr>

<tr>
<td>
  <strong>Date Made:</strong>
  <%= @quick_donation.created_at %>

  <%= time_ago_in_words(@quick_donation.created_at)%> ago
</td></tr>
</tbody>
</table>
</div>
</div>

<%= link_to "Done", root_path, class:"btn btn-warning"%>
</div>


