<% provide( :title, @user.name) %>
<h1 class="title1">Profile Info</h1>
<div class="col-md-12 panel-grids">
</div>
 
            <div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title">  <%= @user.name.capitalize if @user.name %></h3> </div> <div class="panel-body">

<div class="col-md-4 widget widget1 panel-grids">
          

 <div class="row">
  
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
          <div class="profile-userpic">
       <%if @user.image?%>
        <%= image_tag(@user.image_url) %>

        <%else%>

        <img src="../assets/fallback/default.png"/>
        <%end%>

        </div>
           <%= @user.name.capitalize if @user.name %>
          </div>
          <div class="profile-usertitle-job">
           <%= @user.type %>

          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
          <center><button type="button" class="btn btn-success btn-sm">OneMilMap</button></center>
          
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav">
            <li class="active">
             <%if current_user == @user%>
              <%= link_to edit_user_registration_path(@user) do%> <i class="fa fa-user"></i>Account Settings<%end%>
              <%end%>
            </li>
            

          </ul>
        </div>
        <!-- END MENU -->
     

    
  <div class="col-md-5 widget widget1">
            <div class="r3_counter_box">
            <div class="profile-content">
         <table class="table">

        <tbody>

        <tr>



<%if @user.title%>
<td>
  <strong>Title:</strong>
  <%= @user.title %>
</td></tr>
<tr>
<%end%>

<%if @user.gender%>
<td>
  <strong>Gender:</strong>
  <%= @user.gender%>
</td></tr>
<tr>
<% end %>
<%if @user.phone%>
<td>
  <strong>Phone:</strong>
  <%= @user.phone %>
</td></tr>
<tr>
<%end%>
<%if @user.email%>
<td>
  <strong>Email:</strong>
  <%= @user.email%>
</td></tr>
<tr>
<%end%>
<%if @user.address%>
<td>
  <strong>Address:</strong>
  <%= @user.address %>
</td></tr>
<tr>
<%end%>

<%if @user.location%>
<td>
  <strong>Location:</strong>
  <%= @user.location %>
</td></tr>
<tr>
<%end%>
<%if @user.state%>
<td>
  <strong>State:</strong>
  <%= @user.state%>
</td></tr>
<tr>
<%end%>


<td>
  <strong>Contacted By:</strong>
  <%= @user.fund_raiser.name%> <%= link_to "Profile", fund_raiser_path(@user.fund_raiser), style:"color:#FF0000;" %>
</td></tr>
<tr>



<td>

  <strong>Opportunity:</strong>
  <%= @user.opportunity%>

</td>

</tr>

 <%if @user.fund_raiser == current_user%>
    <%if @user.opportunity == "Found"%>
      <tr>
      <td>

        <%= link_to 'Make Opportunity', opportunity_prospect_path(@user), class:"btn btn-info" %>

      </td>
      </tr>
    <%end%>
  <%end%>
<tr>
         
          <tr>
          <td>
          <%= link_to 'Edit', edit_prospect_path(@user), class:"btn btn-success" %> 
          </td>
          </tr>
           <tr>
          <td>
          <%= link_to 'Dashboard', root_url, class:"btn btn-info" %>
          </td>
          </tr>
           <tr>
          <td>
          <%= link_to "Back", :back, class:"btn btn-warning"%> 
          </td>
          </tr>
          </tbody>
          </table>


 

<br/>

</div>

</div>

</div>



          <div class="col-md-6">

            <div class="panel panel-info"> <div class="panel-heading"> <h3 class="panel-title">  <%= @user.name.capitalize if @user.name %>'s Conversations</h3> </div>


         

          <% if @conversations.any? %>
<p class="lead">Conversations made</p>
<%= pluralize @conversations.size,'Comment' %> so far
<% else %>
<p class="lead">No Conversations made</p>
<% end %>
<%= render :partial =>'conversations/conversation',
:collection => @conversations  %>

<br/>   
<%if current_user.fund_raiser?%>    
 <%= render 'conversations/form' %>
<% end %>
     
        
        </div>
      </div>

</div>
</div>
</div>

