<% provide( :title, @post.title) %>


<div class="row">
  <div class="col-md-12">
  <div class="x_panel" style="">
      <div class="x_title">

<a onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" href="/posts">
        <i style="font-size:27px"class="fa fa-group"> <span style="color:blue;" onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='blue'">Back to Forum</span></i>

        </a>

<center><h1><%=@post.title%></h1></center>
<center><small style="color:blue;">Post By:  <%= @post.user.name%></small></center>
<center><p class="lead" style="color:orange;">more file upload..? you can still do this in the comments section</p></center>
</div>
<br>
<br>
<br>
<%if @post.file?%>
       <center> <%= image_tag(@post.file_url) %></center>

        <%else%>

      <center>  <img src="../assets/fallback/wood.png"/></center>
        <%end%>


<%if @post.file? %>
<p>
 

<%= link_to "download post photo", download_file_post_path(@post), data: "case_file", class:'btn-info btn-sm' %>
 </p>


<%end%>

<p class="lead">
  <%= @post.body%></p>
<br>
<br>

<a onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='#73879C'" href="/posts">
        <i style="font-size:27px"class="fa fa-group"> <span style="color:blue;" onMouseOver="this.style.color='orange'"
   onMouseOut="this.style.color='blue'">Back to Forum</span></i>

        </a>
<br>



   <!-- start accordion -->
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

 <div class="panel">
            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4 class="panel-title"><strong><em><small style="color:orange;"> <strong>Click to view</strong></small></em> post Comments <i class="fa fa-edit"></i> </strong>  </h4>

            </a>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
                
               

<% if @post.comments.any? %>
<p class="lead">Posted Comments</p>
<%= pluralize @post.comments.size,'Comment' %> so far
<% else %>
Be the first to post discussion
<% end %>
<%= render :partial =>'comments/comment',
:collection => @post.comments  %>

<br/>
<br/>
<br/>
 <div class="x_panel" style="">
      <div class="x_title">
<h3>Post new comment</h3>
</div>
 <%= render 'comments/form' %>
</div>

           
  <br/>
<br/>
<br/>           
  


    


 </div>
<div class="clearfix"></div>
      </div>

      <div class="x_content">

    


        </div>
          </div>

 <% if current_user.admin? || @post.user == current_user %>
     <%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-success" %> |

<%end%>
</div>

 <br>
<br>
<br>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
  <%= link_to 'Dashboard', root_path, class:"btn btn-info" %> |
 <%= link_to 'Post Comments', comment_post_path(@post), class:"btn btn-success" %> 
  |
   <%= link_to "Back", :back, class:"btn btn-warning"%> 
    